.background-image {
    background-image: url('./image/green_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.wrapper {
  background-color: white;
  width: max(40%, 600px);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.label-icon {
  height: 50px;
  width: 50px;
  background-color: #8672FF;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.label-icon img {
  width: 24px;
  height: 24px;
  fill: white;
  filter: brightness(0) invert(1);
}


.input-field {
  flex-grow: 1;
  height: 50px;
  padding: 1rem;
  border: 2px solid #F3F0FF;
  border-left: none;
  border-radius: 0 10px 10px 0;
  background-color: #F3F0FF;
  font-size: 1rem;
  width: 100%;
}

.btn-submit {
  margin-top: 1rem;
  background-color: #8672FF;
  color: white;
  padding: 0.85em 4em;
  border: none;
  border-radius: 1000px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
.btn-submit:hover {
  background-color: #2E2B41;
}
